html body .ant-modal-body .action-line {
  margin-top: 25px;
  background: rgba($color: #000000, $alpha: 0.03);
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 30px;
  .al_item {
    display: flex;
    font-size: 0;
    justify-content: space-between;
    &.error {
      margin-bottom: 0;
    }
    .error {
      margin-bottom: 0;
    }
    // default
    .al_number {
      color: #fff;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 25px;
      background: #c8c8c8;
      margin-top: 32px;
      margin-right: 15px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
    }
    .ant-spin-spinning.spiny {
      margin-top: 32px;
      .anticon {
        svg {
          display: none;
        }
        background: url(../images/loading.svg) no-repeat;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        display: inline-block;
        -webkit-animation: loadingCircle 1s infinite linear;
        animation: loadingCircle 1s infinite linear;
      }
    }
    .al_title {
      width: calc(100% - 40px);
      font-family: PingFangSC-Regular;
      font-size: 16.5px;
      color: #999999;
      letter-spacing: 0;
      line-height: 25px;
      text-align: left;
    }
    .al_number::after {
      display: block;
      content: '.';
      color: transparent;
      background: #d8d8d8;
      width: 1px;
      height: 54px;
      margin-left: 12px;
    }
    .al_number::before {
      display: block;
      content: '.';
      color: transparent;
      background: #d8d8d8;
      width: 1px;
      height: 17px;
      margin-left: 12px;
      margin-top: -17px;
    }
    .al_title {
      margin-top: 31px;
    }
    &:nth-child(1) {
      .al_number {
        margin-top: 0;
      }
      .al_number::before {
        display: none;
      }
      .al_title {
        margin-top: 0;
      }
      .ant-spin-spinning.spiny {
        margin-top: 0px;
      }
    }
    &:last-child {
      .al_number::after {
        display: none;
      }
    }
    //active
    &.start,
    &.pending {
      .al_number {
        background: #5915e1;
      }
      .al_number::after {
        background: #5915e1;
      }
      .al_title {
        color: #5915e1;
      }
    }
    //success
    &.success {
      .al_number {
        background: #16c378;
        color: transparent;
        background: url(../images/success.svg) no-repeat;
        background-size: 25px 25px;
      }
      .al_number::after {
        background: #16c378;
      }
      .al_title {
        color: #16c378;
      }
    }
    &.success + .al_item {
      .al_number::before {
        background: #16c378;
      }
    }
    //failed
    &.error,
    &.failed {
      .al_number {
        background: #ff8e18;
        color: transparent;
        background: url(../images/failed.svg) no-repeat;
        background-size: 25px 25px;
      }
      .al_title {
        color: #ff8e18;
      }
    }
  }
}
